streamlit

# LangChain
langchain
langchain-core
langchain-groq
langchain-chroma
langchain-huggingface

# Groq
groq

# Local Whisper
openai-whisper

# YouTube audio
yt-dlp
yt-dlp-ejs
bgutil-ytdlp-pot-provider

# Embeddings
sentence-transformers

# Vector database
chromadb

# PDF/TXT export
reportlab

# Audio processing
pydub

ffmpeg-python

python-dotenv